@CHARSET "UTF-8";
*{
	font-size: 18px;
}
table{
	margin: 50px auto;
	width: 600px;
	height: 500px;
	background-color: blanchedalmond;
}
#title{
	color: orange;
	font-size: 24px;
}
#register{
	margin-left: 70px;
	margin-right: 50px;
}
#reset,#register{
	line-height: 30px;
	width: 100px;
	background-color: orange;	
}
#loc{
	width: 150px;
}
#name1,#name2,#name3,#name4,#name5{
	color:red;
}